<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Django!</h1>
    {% for message in messages %}
    <div class="alert alert-{{messages.tags}} alert-dismissable fade show" role="alert">
        <strong>Message:</strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <h3>{{ f_name }}</h3>
    <h3>you are logged in</h3>
    <button type="submit"><a href="/signout">SignOut</a></button>
    {% else %}
    <button type="submit"><a href="/signup">SignUp</a></button>
    <button type="submit"><a href="/signin">SignIn</a></button>
    {% endif %}
</body>
</html>