<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{messages.tags}} alert-dismissable fade show" role="alert">
        <strong>Message:</strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <h1>SignUp</h1>
    <form action="/signup" method="post">
        {% csrf_token %}
        <label for="name">UserName</label>
        <input type="text" name="user" id="user" placeholder="enter name"><br>
        <label for="fname">FirstName</label>
        <input type="text" name="fname" id="fname" placeholder="enter fname"><br>
        <label for="lname">LastName</label>
        <input type="text" name="lname" id="lname" placeholder="enter lname"><br>
        <label for="name">Email</label>
        <input type="email" name="email" id="email" placeholder="enter email"><br>
        <label for="pass1">Password</label>
        <input type="password" name="pass1" id="pass1" placeholder="enter password"><br>
        <label for="pass2">Confirm Password</label>
        <input type="password" name="pass2" id="pass2" placeholder="enter name"><br>
        <button type="submit">signup</button>
    </form>
</body>
</html>